.favList{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
    flex-wrap: wrap;
    overflow: auto;
    height: 200px;
}

.favListContainer{
    text-align: start;
    margin-left: 28%;
    margin-right: 28%;
}

@media (max-width: 1017px) {
    .favList{
        grid-template-columns: repeat(1,1fr);
    }
}