.convertContainer{
    background-color: #2E0039; 
    margin-left: 28%;
    margin-right: 28%;
    border-radius:20px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.convertTitle{
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: start;
    margin-left: 5%;
}