.convertFooterContainer{
    display: flex;
    flex-direction: row;
    align-items: end;
    margin-left: 5%;
    margin-bottom: 5%;
    margin-top: 2%;
}

.convertFooterContainer div{
    width: 80%;
}

.convertFooterContainer img{
    width: 5%;
    height: 5%;
}

.convertFooterContainer p{
    height: 5px;
    width: 100%;
    margin-right: 10%;
}

@media(max-width:854px){
    .convertFooterContainer img{
        width: 20px;
    }
}

@media(max-width:532px){
    .convertFooterContainer p{
        margin-bottom: 30px;
    }
}

@media(max-width:389px){
    .convertFooterContainer p{
        margin-right: 5px;
    }
}
