body{
    margin: 0;
    width: 100%;
    min-height: 100dvh;
    display: grid;
    grid-template-rows: auto,1fr,auto;
}

.container{
    text-align: center;
    margin-top: 5%;
}

.footer {
    background-color: #2E0039;
    padding: 10px 0;
    text-align: center;
    width: 100%;
    margin-top: 690px;
    position: fixed;
}

.footer a {
    margin: 0 10px;
    color: #f6f7f8;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}
