body{
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.container{
    text-align: center;
    margin-top: 5%;
}

.footer {
    background-color: #2E0039;
    padding: 10px 0;
    text-align: center;
    width: 100%;
    position: static;
    justify-self: end;
}

.footer a {
    margin: 0 10px;
    color: #f6f7f8;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}
